{% extends "::base.html.twig" %}

{% block requirejs %}
    {{ include('::_requirejs.html.twig', { 'module': 'app/index' }) }}
{% endblock %}

{% block body %}
<div class="container" style="text-align: center">
  <br>
  <h3>Bienvenue sur Znieh Games !</h3>

  <a href="{{ path('znieh_villagegame_public_index') }}">
    <img class="village" src="{{ asset('img/villageombre.png') }}" alt="" style="margin-top: -40px;">
  </a>
  <img src="{{ asset('img/LogoJeu.png') }}" alt="">
  <a href="{{ path('znieh_coregame_default_search') }}">
    <img class="arene" src="{{ asset('img/areneombre.png') }}" alt="" style="margin-top: 20px;">
  </a>
</div>
<div class="container">


</div>
    <div class="border-after-village"></div>
    <div class="after-village-content"></div>
{% endblock %}
