{% extends '::base.html.twig' %}

{% macro displayStep(step, objects, deep) %}
{% spaceless %}
<div class="{% if deep == 0 %}root{% else %}step{% endif %}">
    <span class="step-content">
    <div class="step-title">{{ step.title }}</div>
    {% for obj in objects %}
      {% if obj.step.title == step.title %}
        <span class="game-object" data-toggle="tooltip" title="{{ obj.name }}">
          <img src="{{ asset('img/icons/lame.png') }}" class="draggable" data-id="{{ obj.id }}" alt="">
          {% if obj.unlocked %}
              <a href="#" class="btn btn-default btn-xs" data-id="{{ obj.id }}">
                <img src="{{ asset('img/icons/accept.png') }}" alt="">{{ obj.cost }}
              </a>
          {% else %}
            <a href="#" class="btn btn-default btn-xs unlock-object" data-id="{{ obj.id }}">
                <img src="{{ asset('img/icons/add.png') }}" alt="">{{ obj.cost }}
            </a>
          {% endif %}
        </span>
      {% endif %}
    {% endfor %}
    </span>

    {% if step.children|length %}
      <div class='lvl{{ deep }} level'>
        {% for child in step.children %}
          {{ _self.displayStep(child, objects, deep + 1) }}
        {% endfor %}
      </div>
    {% endif %}
</div>
{% endspaceless %}
{% endmacro %}

{% block body %}

<div class="container">
  {% include 'ZniehVillageGameBundle:Public:listBuilding.html.twig'  with { 'buildings' : buildings, 'active' : building.title } %}
  <h2>{{ building.title }}</h2>
  <p>{{ building.description }}</p>
</div>


<div class="row">
  <div class="col-lg-2" style="background: brown; margin-left: 20px">
    Création d'armes :
    <div id="droppable" style="margin-bottom: 10px">
      <div style="height: 50px; width: 100%; background: white"></div>
    </div>
    <button id="create-weapon" class="btn btn-default">Créer</button>
    <br>

    Vos armes sauvegardées :
    <ul>
    {% for wep in weapons %}
      <li> {{ wep.id }}
          <ul>
            {% for part in wep.parts %}
              <li>{{ part.name }}</li>
            {% endfor %}
          </ul>
      </li>
    {% endfor %}
    </ul>
    {{ form(form) }}

  </div>
  <div class="col-lg-9">
    <div>
      {% for step in steps %}
      <div style="margin-bottom: 70px">
        {% if step.parent == null %}
          {{ _self.displayStep(step, objects, 0) }}
        {% endif %}
      </div>
      <div class="clearfix"></div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}


{% block stylesheets %}
 {{ parent() }}
  <style>
  *, *:before, *:after {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
  }
  .root {
    position: relative;
  }
  .level {
    margin-left: 400px;
    position: relative;
  }
  .level:before {
    content: "";
    width: 50px;
    border-top: 2px solid #eee9dc;
    position: absolute;
    left: -98px;
    top: 50%;
    margin-top: 1px;
  }
  .step {
    min-height: 100px;
    position: relative;
  }
  .step:before {
    content: "";
    height: 100%;
    border-left: 2px solid #eee9dc;
    position: absolute;
    left: -48px;
  }
  .step:after {
    content: "";
    width: 46px;
    border-top: 2px solid #eee9dc;
    position: absolute;
    left: -46px;
    top: 50%;
    margin-top: 1px;
  }
  .step:first-child:before {
    width: 10px;
    height: 50%;
    top: 50%;
    margin-top: 2px;
    border-top-left-radius: 10px;
  }
  .step:first-child:after {
    height: 10px;
    border-top-left-radius: 10px;
  }
  .step:last-child:before {
    width: 10px;
    height: 50%;
    border-bottom-left-radius: 10px;
  }
  .step:last-child:after {
    height: 10px;
    border-top: none;
    border-bottom: 2px solid #eee9dc;
    border-bottom-left-radius: 10px;
    margin-top: -11px;
  }
  .step:only-child:before {
    border-top: none;
    border-bottom: none;
    content: none;
    margin-top: 0px;
  }
  .step:only-child:after {
    width: 52px;
    left: -52px;
    top: 52%;
  }
  .step-content {
    width: 280px;
    padding: 5px 10px;
    border: 2px solid #eee9dc;
    border-radius: 5px;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
    background-color: brown;
  }
  .game-object {
    padding: 5px 5px 5px 5px;
    width: 50px;
    height: 20px;
  }
  .game-object img{
    margin-right: 3px;
  }
</style>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
    $('.unlock-object').on('click', function(e){
        e.preventDefault();
        var id = $(this).data("id");
        var obj = $(this);
        $.get('http://localhost/znieh/web/app_dev.php/village/unlock/' + id)
        .done(function(data){
          console.log('done');
          obj.children().attr("src", '{{ asset('img/icons/accept.png') }}');
        })
        .fail(function(e) {
          console.log('fail');
        });
    });
    $(document).ready(function(){
        $('.game-object').tooltip();
        var form = $('#znieh_unitgamebundle_weapon').parent();
        $(form).hide();
        $( ".draggable" ).draggable({ cursor: "move", helper: "clone", revert: "invalid" });
        $('#create-weapon').on('click', function(){
            $.ajax({
                type     : "POST",
                cache    : false,
                url      : $(form).attr('action'),
                data     : $(form).serialize(),
                success  : function(data) {
                    alert(data);
                    $(form)[0].reset();
                },
                error  : function(data) {
                    alert(data);
                    $(form)[0].reset();
                }
            });

        });
        $( "#droppable" ).droppable({
              drop: function( event, ui ) {
                  console.log(event);
                  console.log(ui);
                  console.log(ui.draggable.data("id"));
                  console.log($('#znieh_unitgamebundle_weapon_parts_' + ui.draggable.data("id")));
                  $('#znieh_unitgamebundle_weapon_parts_' + ui.draggable.data("id")).prop('checked', true);
              }
        });
    });

	</script>
{% endblock %}
