{% extends '::base.html.twig' %}

{% macro displayStep(step, objects, deep) %}
{% spaceless %}
<div class="{% if deep == 0 %}root{% else %}step{% endif %}">
    <span class="step-content">
      <div class="step-title">{{ step.title }}</div>
      {% for obj in objects %}
        {% if obj.step.title == step.title %}
          <span class="game-object" data-trigger="manual" data-placement="top" data-html="true" title='{{ obj.name }}'
          data-content='
          <div>
            {{ obj.description }}
          </div>
          <div class="game-object-points">
            {{ obj.points }} points
          </div>
          <div>
            {% if obj.unlocked %}
            Débloqué.
            {% else %}
            {{ obj.cost }}
            {% endif %}
          </div>
          '>
            <img src="{{ asset('img/icons/lame.png') }}" class="draggable" data-id="{{ obj.id }}" alt="">
            {% if obj.unlocked %}
                <a href="#" class="btn btn-default btn-xs" data-id="{{ obj.id }}">
                  <img src="{{ asset('img/icons/accept.png') }}" alt="">{{ obj.cost }}
                </a>
            {% else %}
              <a href="#" class="btn btn-default btn-xs unlock-object" data-id="{{ obj.id }}">
                  <img src="{{ asset('img/icons/add.png') }}" alt="">{{ obj.cost }}
              </a>
            {% endif %}
          </span>
        {% endif %}
      {% endfor %}
    </span>

    {% if step.children|length %}
      <div class='lvl{{ deep }} level'>
        {% for child in step.children %}
          {{ _self.displayStep(child, objects, deep + 1) }}
        {% endfor %}
      </div>
    {% endif %}
</div>
{% endspaceless %}
{% endmacro %}

{% block body %}

<div class="container">
  {% include 'ZniehVillageGameBundle:Public:listBuilding.html.twig'  with { 'buildings' : buildings, 'active' : building.title } %}
  <h2>{{ building.title }}</h2>
  <p>{{ building.description }}</p>
</div>


<div class="row">
  <div id="weapons" style="background: brown;">
    Création d'armes :
    <div id="droppable" style="margin-bottom: 10px">
      <div style="height: 50px; width: 100%; background: white"></div>
    </div>
    <button id="create-weapon" class="btn btn-default">Créer</button>
    <br>

    Vos armes sauvegardées :
    <ul>
    {% for wep in weapons %}
      <li> {{ wep.id }}
          <ul>
            {% for part in wep.parts %}
              <li>{{ part.name }}</li>
            {% endfor %}
          </ul>
      </li>
    {% endfor %}
    </ul>
    {{ form(form) }}

  </div>
  <div class="col-lg-offset-2 col-lg-9">
    <div>
      {% for step in steps %}
        {% if step.parent == null %}
          {{ _self.displayStep(step, objects, 0) }}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}


{% block stylesheets %}
 {{ parent() }}
  <style>
  #weapons {
    position: fixed;
    top: 20%;
    left: 0;
    width: 300px;
  }
  *, *:before, *:after {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
  }
  .root {
    position: relative;
    overflow: hidden;
  }
  .level {
    margin-left: 400px;
    position: relative;
  }
  .level:before {
    content: "";
    width: 50px;
    border-top: 2px solid #eee9dc;
    position: absolute;
    left: -98px;
    top: 50%;
    margin-top: 1px;
  }
  .step {
    min-height: 300px;
    position: relative;
  }
  .step:before {
    content: "";
    height: 100%;
    border-left: 2px solid #eee9dc;
    position: absolute;
    left: -48px;
  }
  .step:after {
    content: "";
    width: 46px;
    border-top: 2px solid #eee9dc;
    position: absolute;
    left: -46px;
    top: 50%;
    margin-top: 1px;
  }
  .step:first-child:before {
    width: 10px;
    height: 50%;
    top: 50%;
    margin-top: 2px;
    border-top-left-radius: 10px;
  }
  .step:first-child:after {
    height: 10px;
    border-top-left-radius: 10px;
  }
  .step:last-child:before {
    width: 10px;
    height: 50%;
    border-bottom-left-radius: 10px;
  }
  .step:last-child:after {
    height: 10px;
    border-top: none;
    border-bottom: 2px solid #eee9dc;
    border-bottom-left-radius: 10px;
    margin-top: -11px;
  }
  .step:only-child:before {
    border-top: none;
    border-bottom: none;
    content: none;
    margin-top: 0px;
  }
  .step:only-child:after {
    width: 52px;
    left: -52px;
    top: 50.60%;
    border-bottom-left-radius: 0;
  }
  .step-content {
    width: 280px;
    height: 200px;
    padding: 5px 10px;
    border: 2px solid #eee9dc;
    border-radius: 5px;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -115px;
    background-color: brown;
  }
  .game-object {
    padding: 5px 5px 5px 5px;
    width: 50px;
    height: 20px;
  }
  .game-object img {
    margin-right: 3px;
  }
  .game-object-points {
    float: left;
    background: brown;
  }
</style>
{% endblock %}

{% block requirejs %}
    {{ include('::_requirejs.html.twig', {
        'module': 'app/building'
    }) }}
{% endblock %}
