<p> 
    gold : {{ user.ressource.gold }} <br />
    sto : {{ user.ressource.sto }}	<br />
    cuivre : {{ user.ressource.cuivre }} <br />
    bronze : {{ user.ressource.bronze }}	<br />
    etoffeMineure : {{ user.ressource.etoffeMineure }} <br />
    etoffeStandart : {{ user.ressource.etoffeStandart }}	<br />
    cuirReche : {{ user.ressource.cuirReche }} <br />
    cuirBrut : {{ user.ressource.cuirBrut }}	<br />
    boisChene : {{ user.ressource.boisChene }} <br />
    boisCedre : {{ user.ressource.boisCedre }}	<br />

</p>