{% extends "ZniehCoreGameBundle::layout.html.twig" %}

{% block initCreateJS %}
onload="init();"
{% endblock %}

{% block createJs %}
<script src="{{ asset('js/game/XNARectangle.js') }}"></script>
<script src="{{ asset('js/game/Tile.js') }}"></script>
<script src="{{ asset('js/game/Map.js') }}"></script>
<script src="{{ asset('js/game/Unit.js') }}"></script>
<script src="{{ asset('js/game/contentManager.js') }}"></script>
<script>
var canvas = document.getElementById("canvas");
var stage = new createjs.Stage(canvas);
stage.enableMouseOver();
function init() {
    contentManager = new ContentManager(stage, 480, 480);
    contentManager.init();
}
</script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-2">
            <h2>Mes unités</h2>
                <div class="well">
                    Bobby
                </div>
            </div>
        <div class="col-sm-8">
            <canvas id="canvas" width="480" height="480"> Canvas not supported. Please update your browser. </canvas>
        </div>
        <div class="col-sm-2">
            <h2>Unités ennemies</h2>
        </div>
    </div>
{% endblock %}