{% extends "ZniehCoreGameBundle::layout.html.twig" %}

{% block initCreateJS %}
onload="init();"
{% endblock %}

{% block createJs %}

<script src="{{ asset('js/game/XNARectangle.js') }}"></script>
<script src="{{ asset('js/game/Tile.js') }}"></script>
<script src="{{ asset('js/game/Map.js') }}"></script>
<script src="{{ asset('js/game/Unit.js') }}"></script>
<script src="{{ asset('js/game/contentManager.js') }}"></script>
<script src="{{ asset('js/easystar-0.1.6.min.js') }}"></script>

<style>
.sprite {
  overflow: hidden;
  width: 32px;
  height: 32px;
  float: left;
}
</style>

<script>

var canvas = document.getElementById("canvas");
var stage = new createjs.Stage(canvas);


stage.enableMouseOver();
function init() {
  contentManager = new ContentManager(stage, 480, 480);
  contentManager.init();
}

var nextUnitID = 0;
var units = [
  { "sprite": "firefox", "taille": "petitfin", "name": "Bobby", "statut": 0, "life": 100 },
  { "sprite": "mailarmor", "taille": "petitfin", "name": "Jacky", "statut": -1, "life": 100 },
  { "sprite": "mailarmor", "taille": "petitfin", "name": "Bruce", "statut": -1, "life": 100 },
  { "sprite": "firefox", "taille": "petitfin", "name": "Patrick", "statut": -1, "life": 100 },
];
var numberOfUnits = units.length;

var left = true;

$(document).ready(function(){
  for (var i = units.length - 1; i >= 0; i--) {
    $("#myUnits").prepend('<div class="row unit" id="unit-' + i + '" data-unit="' + i + '" data-unit-game=""><div class="col-sm-12"><div class="row"><div class="col-sm-1"><div class="portrait"><img id="unit-' + i + '-img" /></div></div><div class="col-sm-4"><span class="name">' + units[i].name + '</span></div><div class="col-sm-6"><div class="progress life"><div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: ' + units[i].life + '%"></div></div></div></div></div><div class="row"><div class="col-sm-5 col-sm-offset-1 stats"><img src="../img/icons/attack.png" alt="Attaque"> 67 <img src="../img/icons/defense.png" alt="Défense"> 35 <img src="../img/icons/precision.png" alt="Précision"> 54 </div><div class="col-sm-6 skills"><img src="../img/icons/spell0.png" alt="Attaque"><img src="../img/icons/spell1.png" alt="Attaque"><img src="../img/icons/spell2.png" alt="Attaque"><img src="../img/icons/spell3.png" alt="Attaque"></div></div></div><div class="clearfix"></div>');
    $("#unit-" + i).on("click", {id: i}, function(event) {
      if(gameStatut == GameStatut.PLACEMENT) {
        if(units[event.data.id].statut == -1) {
          $("#myUnits .unit").removeClass("selected");
          for (var i = units.length - 1; i >= 0; i--) {
            if(units[i].statut == 0)
              units[i].statut = -1;
          };
          $("#unit-" + event.data.id).addClass("selected");
          units[event.data.id].statut = 0;
        }
      }
      else if(gameStatut == GameStatut.IDLE) {
        ContentManager.unSelectAllTiles();
        ContentManager.clearUnitsMenu();

        $("#unit-" + event.data.id).addClass("selected");

        selectedUnit = ContentManager.units[event.data.id];

        if(selectedUnit != null)
          selectedUnit.getAllTilesStatut();
      }
    });
  }
  $("#myUnits div.unit:first-child").addClass("selected");
});

mySide = '<h2>Mes unités</h2><div id="myUnits"></div>';
ennemySide = '<h2>Unités ennemies</h2><div class="list-group" id="ennemyUnits"></div>';

if(left) {
  leftPart = mySide;
  rightPart = ennemySide;
}
else {
  leftPart = ennemySide;
  rightPart = mySide;
}

$("#leftSide").html(leftPart);
$("#rightSide").html(rightPart);

</script>

<style>
  .skills img {
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
  }
</style>
{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-sm-3" id="leftSide">
    </div>
    <div class="col-sm-6">
      <canvas id="canvas" width="480" height="480" style="margin:0px;"> Canvas not supported. Please update your browser. </canvas>
      <div id="fps" style="font-size:12px; margin:0px; padding:0px;"></div>
    </div>
    <div class="col-sm-3" id="rightSide">
    </div>
  </div>

  <button id="join" type="button" class="btn btn-primary">Join pool</button>
  <button id="ready" type="button" class="btn btn-primary">Ready <em>(start search)</em></button>

  <p><br />
    Pool ID : <input type="text" id="poolId" value="0" /></input>
  </p>

  <br /><br />
  <pre id="console" style="border: 1px dotted grey; padding: 10px;width: 600px;"><strong>Console Log :</strong><br /><br /></pre>

  <div id="pools" style="border: 1px dotted grey; width: 600px; padding: 10px;">
    <button id="fight" type="button" class="btn btn-primary">Fight !</button>
  </div>

{% endblock %}

{% block javascripts %}

  {{ parent() }}

  <script>

    var gameSocket = undefined;

    gameSocket = io.connect('127.0.0.1:1337');
    $('#console').append('Connected<br>');

    gameSocket.emit('auth', { username: '{{ app.user.username }}' , token: '{{ app.user.token }}' });

    // In
    gameSocket.on('welcome', function (data) {
      console.log(data);
      $('#console').append('Server has send welcome message. Your name is : ' + data + '<br />');
    });

    gameSocket.on('service', function (data) {
      console.log(data);
      $('#console').append('Service message : ' + data.msg + '<br />');
    });

    gameSocket.on('players', function (data) {
      console.log(data);
      $('#console').append('Current players : ' + data.players + '<br />');
    });

    gameSocket.on('pools-list', function (data) {
      console.log(data);
      $('#pools').html(JSON.stringify(data));
    });


    // Out
    $('#join').click(function () {
      gameSocket.emit('join', {pool: 1}, function (data) {
        $('#console').append('<strong>Callback</strong><br>');
      });
      $('#console').append('<strong>Trying to join pool...</strong><br>');
    });

    $('#auth').click(function () {
      gameSocket.emit('auth', { username: '{{ app.user.username }}' , token: '{{ app.user.token }}' });
      $('#console').append('<strong>Trying to auth...</strong><br>');
    });

    $('#ready').click(function () {
      gameSocket.emit('ready', null);
      $('#console').append('<strong>Ready to fight. Looking for a game...</strong><br>');
    });

    $('#fight').click(function () {
      gameSocket.emit('get-pools', null);
      $('#pools').html('<strong>Loading ...</strong><br>');
    });

  </script>

{% endblock %}
