{% extends "ZniehCoreGameBundle::layout.html.twig" %}

{% block body %}


<div class="modal fade" id="modalFight">
	<div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
		    <h4 class="modal-title">Fight</h4>
		  </div>
		  <div class="modal-body">
		    <p>Click on fight to begin a fight with another players</p>
		    <p>and to join a pool !</p>
	    	<button id="fight" type="button" class="btn btn-primary btn-lg btn-middle">Fight</button>
		  </div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalPools">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
		    <h4 class="modal-title">Join a Pool</h4>
		  </div>
		  <div class="modal-body">
		    <p>We have to watch the differents pools where the player can fight</p>
			  <div class="btn-group" data-toggle="buttons">
	    	</div>
      </div>
    	
    	<div class="modal-footer">
	    	<button id="join" type="button" class="btn btn-primary" disabled="disabled" data-loading-text="Loading...">Join pool</button>
	 	</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalReady">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you ready ?</h4>
      </div>
      <div class="modal-body">
        <p>Now you can choose your army ...</p>
        <p>BLALALALALALALALA !!! </p>
      </div>
      
      <div class="modal-footer">
        <!-- When i'm sure the player are inside the pool ! -->
        <button id="ready" type="button" class="btn btn-primary" data-loading-text="Loading...">Ready</em></button>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<!-- <button id="ready" type="button" class="btn btn-primary"> -->

{% endblock %}


{% block javascripts %}

  {{ parent() }}

  <script>

    "use strict";

  	$('#modalFight').modal({
      backdrop: 'static',
      keyboard: false,
      show: true
    });

    $('#modalPools').modal({
      backdrop: 'static',
      keyboard: false,
      show: false
    });

    $('#modalReady').modal({
      backdrop: 'static',
      keyboard: false,
      show: false
    });

    var gameSocket = undefined;

    gameSocket = io.connect('127.0.0.1:1337');
    $('#console').append('Connected<br>');

    gameSocket.emit('auth', { username: '{{ app.user.username }}' , token: '{{ app.user.token }}' }, function(success) {
      console.log("auth ->" + success);
    });

    // In
    gameSocket.on('welcome', function (data) {
      console.log(data);
      $('#console').append('Server has send welcome message. Your name is : ' + data + '<br />');
    });

    gameSocket.on('service', function (data) {
      console.log(data);
      $('#console').append('Service message : ' + data.msg + '<br />');
    });

    gameSocket.on('players', function (data) {
      console.log(data);
      $('#console').append('Current players : ' + data.players + '<br />');
    });

    // Out
    $('#join').click(function () {
      //we take the value of the selected pool
      var pool_selected = $("#modalPools .modal-body .active .input").attr("value");
      $('#console').append('<strong>Trying to join pool...</strong><br>');
      $('#join').button('loading');

      gameSocket.emit('join', {pool: pool_selected}, function (data) {
        /*When we are sure the player is resgistered inside a pool*/
        if(data === true) {
          $('#modalPools').modal('hide');
          $('#modalReady').modal('show');
        }
      });
    });

    $('#auth').click(function () {
      gameSocket.emit('auth', { username: '{{ app.user.username }}' , token: '{{ app.user.token }}' });
      $('#console').append('<strong>Trying to auth...</strong><br>');
    });

    $('#ready').click(function () {
      $('#ready').button('loading');
      $('#console').append('<strong>Ready to fight. Looking for a game...</strong><br>');
      gameSocket.emit('ready', null, function (data) {
        /* Waiting to receive a proposal of another player to fight*/
        if(data === true)
        {
          // Here it is !!
        }
      });
    });

    $('#fight').click(function () {
      $('#fight').button('loading');
      $('#console').append('<strong>Loading ...</strong><br>');

      gameSocket.emit('get-pools', null, function (data) {
        var size = data.length;
        var div_labels = $('#modalPools .modal-body .btn-group');
        for(var i = 0 ; i < size ; i=i+1 )
        {
          div_labels.append("<label class=\"btn btn-primary\"><input class=\"input\" type=\"radio\" name=\"options\" value=\""+i+"\"><div class=\"thumbnail\"><div class=\"caption\"><h4>"+data[i].name+"</h4><p>"+data[i].attribute1+"</p><p>"+data[i].attribute2+"</p><p>"+data[i].attribute3+"</p></div></div></input></label>");
        }
        $('#modalFight').modal('hide');
        $('#modalPools').modal('show');
      });
      
    });

    $('#modalPools .modal-body div').click(function () {
      $('#join').removeAttr('disabled');
    });

  </script>

{% endblock %}