{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="col-md-6">
        <h1>Vos équipes :</h1>

        {{ form_start(form) }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sélection</th>
                    <th>Nom</th>
                    <th>Points</th>
                    <th>Unités</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in form.teams %}
                <tr>
                    <td>
                    {% if teams[loop.index0].selected %}
                        {{ form_widget(entity, {checked: true }) }}
                    {% else %}
                        {{ form_widget(entity) }}        
                    {% endif %}
                    </td> 
                    <td>{{ teams[loop.index0].name }}</td>
                    <td>{{ teams[loop.index0].points }} <img src="{{ asset('img/icons/doubled.png') }}" alt=""></td>
                    <td>
                     <ul>
                        {% for unit in teams[loop.index0].units %}
                            <li>{{ unit.name }}</li>
                        {% endfor %}
                     </ul>
                    </td>
                    <td>
                        <a href="{{ path('village_create_team_edit', { 'id': teams[loop.index0].id }) }}" class="btn btn-primary">modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ form_end(form) }}
        <a href="{{ path('village_create_team_new') }}" class="btn btn-primary">
            Créer une nouvelle équipe
         </a>
    </div>
    <div class="col-md-6">
        <h1>Vos unités :</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Points</th>
                    <th>Arme</th>
                    <th>Armure</th>
                    <th>Sorts</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in units %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.points }} <img src="{{ asset('img/icons/doubled.png') }}" alt=""></td>
                    <td><img src="{{ asset('img/weapons/' ~ entity.weapon.img ~ '.png') }}" alt=""></td>
                    <td>{% if entity.armor %}{{ entity.armor.type.name }}{% endif %}</td>
                    <td>-</td>
                    <td>
                            <a href="{{ path('village_create_unit_edit', { 'id': entity.id }) }}" class="btn btn-primary">modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('village_create_unit_new') }}" class="btn btn-primary">
             Créer une nouvelle unité
        </a>
    </div>
</div>
{% endblock %}
