{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="col-md-6">
        <h1>Liste de vos équipes</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Unités</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in teams %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>
                     <ul>
                        {% for unit in entity.units %}
                            <li>{{ unit.name }}</li>
                        {% endfor %}
                     </ul>
                    </td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('village_create_team_edit', { 'id': entity.id }) }}">modifier</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('village_create_team_new') }}">
            Créer une nouvelle équipe
         </a>
    </div>
    <div class="col-md-6">
        <h1>Liste de vos unités</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cost</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in units %}
                <tr>
                    <td>{{ entity.cost }}</td>
                    <td>{{ entity.name }}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('village_create_unit_edit', { 'id': entity.id }) }}">modifier</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('village_create_unit_new') }}">
             Créer une nouvelle unité
        </a>
    </div>
</div>
{% endblock %}
