{% extends 'base.html.twig' %}

{% block body %}

<div class="container" style="text-align: center; font-size: 18px">
  {# {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %} #}

  {% for flashMessage in app.session.flashbag.get('sucess') %}
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Félicitations !</strong> Votre email
      <strong>{{ flashMessage }}</strong> est désormais inscrite.
    </div>
  {% endfor %}

  <h2>Bienvenue sur Znieh Games !</h2>
  <q>Le jeu où vous <strong>combattez</strong> avec une armée <strong>vraiment</strong> personnalisable !</q>
  <br><br>
  Ajoute ton email ci-dessous pour être tenu informé et t'inscrire à la <strong>bêta</strong> :
  {{ form(form, { 'style': 'inline' }) }}

{#   <a href="{{ path('znieh_villagegame_public_index') }}">
    <img class="village" src="{{ asset('img/villageombre.png') }}" alt="">
  </a> #}
  <img src="{{ asset('img/LogoJeu.png') }}" class="img-responsive" style="margin: 0 auto;" alt="">
{#   <a href="{{ path('znieh_coregame_default_search') }}">
    <img class="arene" src="{{ asset('img/areneombre.png') }}" alt="" style="margin-top: 20px;">
  </a> #}
</div>
<div class="border-after-village"></div>
<div class="after-village-content"></div>
{% endblock %}
