{% extends 'base.html.twig' %}

{% block body %}

<div class="container" style="text-align: center">
  <br>
  {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
  <h3>Bienvenue sur Znieh Games !</h3>
  <q>Le jeu où vous combattez avec des unités qui vous ressemblent !</q>
  <br>
  Ajoute ton email ci-dessous pour postuler à la bêta privée :
  {{ form(form, { 'style': 'inline' }) }}

{#   <a href="{{ path('znieh_villagegame_public_index') }}">
    <img class="village" src="{{ asset('img/villageombre.png') }}" alt="">
  </a> #}
  <img src="{{ asset('img/LogoJeu.png') }}" alt="">
{#   <a href="{{ path('znieh_coregame_default_search') }}">
    <img class="arene" src="{{ asset('img/areneombre.png') }}" alt="" style="margin-top: 20px;">
  </a> #}
</div>
<div class="border-after-village"></div>
<div class="after-village-content"></div>
{% endblock %}
